@import "tailwindcss";
@import "tailwindcss-animated";

.marquee{
    display: inline-block;
    padding-left: 85%;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% {transform: translateX(0);}
    100% {transform: translateX(-100%);}
}